/* body{
    background-color: darkblue;
    color: aliceblue;
}
.caja{
    background-color: darkred;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
div{
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    
    display: flex;
    flex-wrap: wrap-reverse;

}
.blue{
    background-color: blue;
    width: 400px;
}
.red{
    background-color: red;
    width: 400px;
}
.yellow{
    background-color: yellow;
    width: 400px;
}
.green{
    background-color: green;
    width: 400px;
} */

/* periodico */
.newspaperExample {
  background-color: antiquewhite;
  color: black;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.main-header .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.main-header .header-title h1 {
  font-size: 2.5em;
  font-weight: lighter;
}
.toggle-menu {
  display: none;
  flex-direction: column;
}
.toggle-menu span{
  width: 25px;
  height: 3px;
  background-color: #2e2e2e;
  margin: 3px 0;
}
.mobile-menu{
  background-color: white;
  list-style-type: none;
  display: none;
  flex-direction: column;
  align-items: center;
}
.mobile-menu a{
  text-decoration: none;
  color: black;
  margin: 5px;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}
.main-nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
.main-nav ul li a:hover {
  border-bottom: #2e2e2e 2px solid;
}
.firstNEW {
  display: flex;
}
.firstNEW .col {
  width: 50%;
  margin: 10px;
}
.firstNEW .col img {
  width: 100%;
}
.firstNEW .col h2 {
  text-align: center;
  font-size: 2em;
}
.firstNEW .col p {
  text-align: justify;
  font-size: 1.2em;
}
@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .main-header .header-title h1 {
    margin: 0;
  }
  .main-nav ul {
    flex-direction: column;
  }
  .firstNEW {
    display: block;
    padding: 10px;
  }
  .firstNEW .col {
    width: 100%;
    margin: 0;
  }
  .main-nav nav {
    display: none;
  }
  .toggle-menu{
    display: flex;
  }
  .mobile-menu.active{
    display: flex;
  }
}
